h1 {
	font-size: 48px;
	font-weight: $h1-font-weight;
	line-height: $h1-line-height;
}
h2 {
	font-size: 45px;
	color: $primary;
	font-weight: 600;
}
h3 {
	color: $primary;
}
p {
	font-size: $font-size-base;
}
.s {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.text-sm {
	font-size: $font-size-sm;
}
.text-gray {
	color: $gray-600;
}
.lead {
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 40px;
	font-weight: 300;
}
.lead p {
	@extend .lead;
}
.lead-secondary {
	font-size: $font-size-lg;
	color: $gray-500;
}
.btn-white { 
	@extend .btn-light;
}
.bg-gray {
	background-color: $primary-gray;
}
button, .btn {
	&:focus {
		outline: none;
		box-shadow: none;
	}
}
.btn {
	font-weight: 600;
	text-transform: uppercase;
	padding: .75rem 1.25rem;
	letter-spacing: 1px;
}
.btn-lg {
	padding: 1.25rem 1.75rem;
}
.btn-sm {
	font-size: $font-size-sm;
	padding: .5rem .75rem;
}
.btn-white {
	@extend .btn-light;
}
.text-lg {
	font-weight: 600;
	text-transform: uppercase;
}
.phone a {
	font-weight: 600;
	color: white;
	
	&:hover {
		text-decoration: none;
		color: $gray-300;
	}
}
.wrapper {
	padding: 100px 0 !important;
}
.wrapper-sm {
	padding: 50px 0 !important;
}
.wrapper-sm-bottom {
	padding: 100px 0 50px 0 !important;
}
.wrapper-sm-top {
	padding: 50px 0 100px 0 !important;
}
@include media-breakpoint-down(md) {
	.wrapper {
		padding: 50px 0 !important;
	}
	.wrapper-sm {
		padding: 25px 0 !important;
	}
	.wrapper-sm-bottom {
		padding: 50px 0 25px 0 !important;
	}
	.wrapper-sm-top {
		padding: 25px 0 50px 0 !important;
	}
}
.wrapper-logo {
	height: 200px;
}
/* Navbar */
#main-nav {
	li {
		a {
			text-transform: uppercase;
			color: white;
			padding-left: 1rem;
			padding-right: 1rem;
			font-weight: 600;
		}
	}
}
@include media-breakpoint-down(sm) {
	#navbarNavDropdown{
		background-color: $secondary;
		padding: .75rem 0;
	}
}
/* Hero Banner */
#hero-content {
	h1 {
		color: white;
	}
	span {
		display: block;
		font-weight: 800;
	}
}
#page-wrapper-about #hero-content {
	span {
		display: inline;
	}
}
#hero-content-sub {
	color: $gray-500;
}
#hero-form {
	position: absolute;
	top: 20px;
	right: 90px;
}
.hero-image {
	h1 {
		margin-bottom: 2em;
	}
}
.hero-stripe {
	background: rgba(255, 255, 255, .85);
	margin: -15px !important;
	
	strong {
		color: $primary;
		font-weight: bold;
	}
	.lead {
		margin: 0 15px;
		margin-bottom: 0;
		color: #333;
		
		p {
			margin-bottom: 1em;
		}
		ul {
			margin-bottom: 0;
		}
		li {
			margin-bottom: .85em;
		}
		li:last-child {
			margin-bottom: 0;
		}
		.fa {
			color: $secondary;
		}
	}
}
.hero-image {
	background-size: cover;
	margin-top: -121px;
	padding: 10em 0;
}
/* Footer Top */
#wrapper-footer-top{
	.btn-white {
		color: $secondary;
	}
}
#wrapper-footer {
	font-size: $font-size-sm;
	color: $gray-500;
	
	a {
		color: $gray-500;
	}
}
/* Gravity Forms */


.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
	@extend .form-control;
}
.gform_wrapper .button {
	@extend .btn;
	@extend .btn-primary;
}
.gform_wrapper {
	form {
		margin-bottom: 0;
	}
	.form-inline .label {
		@extend .sr-only;
	}
	ul {
		@extend .list-unstyled;
	}
	li {
		@extend .form-group;
	}
	.gfield_required {
		padding-left: 1px;
		color: $danger;
	}
	.validation_error {
		@extend .alert;
		@extend .alert-danger;
	}
	.validation_message,
	.gform_validation_container,
	.form-inline label {
		display: none !important;
	}
	.gform_confirmation_message {
		color: $primary;
		font-weight: bold;
	}
	.custom-control {
		padding-left: 0;
		.ginput_container_checkbox {
			padding-left: 5px;
		}
	}
	.custom-select {
		-webkit-appearance: none;
		-moz-appearance: none;
		&:focus {
			box-shadow: none;
			border-color: $gray-400;
		}
	}
	.form-check {
		margin-bottom: .3em;
		&:last-child {
			margin-bottom: 1em;
		}
		label {
			@extend .custom-control-label;
			
			&:before {
				border-width: 1px;
			}
		}
	}
	li.gfield_error .ginput_container {
		input, select, textarea {
			background-color: lighten($danger, 22);
		}
	}
	li.gfield_error {
		.custom-checkbox {
			.validation_message {
				display: block;
				color: $danger;
				font-weight: bold;
				margin-left: -5px;
			}
			.form-check {
				label::before {
					border-color: lighten($danger, 22); 
				}
			}
		}
	}
}
/* Spinner */
.gform_ajax_spinner {
	position: fixed;
	margin-left: 20px;
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-left: 4px solid rgba(110, 73, 217, 0.7);
	animation: spinner 1.1s infinite linear;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.bg-white {
	.gform_wrapper input[type="email"],
	.gform_wrapper input[type="date"],
	.gform_wrapper input[type="datetime"],
	.gform_wrapper input[type="datetime-local"],
	.gform_wrapper input[type="month"],
	.gform_wrapper input[type="number"],
	.gform_wrapper input[type="password"],
	.gform_wrapper input[type="search"],
	.gform_wrapper input[type="tel"],
	.gform_wrapper input[type="text"],
	.gform_wrapper input[type="time"],
	.gform_wrapper input[type="week"],
	.gform_wrapper input[type="url"],
	.gform_wrapper select,
	.gform_wrapper textarea {
		background-color: $gray-400;
	}
	.gform_wrapper label {
		font-weight: bold;
	}
}
/*
** Form specific styles
*/
#gform_wrapper_1 {
	margin: 0;
	
	.gform_body {
		width: 77%;
		
		ul {
			margin: 0;
			
			li {
				margin: 0;
				padding: 0;
			}
		}
		.ginput_container_email {
			width: 100%;
			margin: 0;
			
			input {
				height: 46px;
				width: 100%;
				margin: 0;
				padding: 7px 15px;
			}
		}
	}
	.gform_footer{
		width: 23%;
		padding: 0;
		margin: 0;
		.button {
			@extend .btn-sm;
			@extend .btn-block;
			padding: 0.7rem .5rem;
			border-radius: 0;
		}	
	}
}
@include media-breakpoint-down(sm) {
	#gform_wrapper_1 {
		.gform_body, .gform_footer {
			width: 100%;
		}
		.gform_body {
			margin-bottom: .5em;
		}
	}
}

/*
**  Memberpress
*/
.page-template-page-membership {
	.mepr_error {
		margin-bottom: 0 !important;
		font-size: $font-size-sm;
		
	}
}

.mepr-form {
	.mp-form-row {
		@extend .form-group;
		
		input {
			@extend .form-control;
			
			&[type=checkbox] {
				display: inline-block;
				width: auto;
				vertical-align: middle;
			}
		}
		label {
			display: none !important;
		}
	}
	.mepr-select-field {
		@extend .custom-select;
	}
}
#mepr-account-nav {
	padding: 0em;
	.mepr-nav-item {
		padding: 0;
	}	
	
	a {
		text-transform: uppercase;
		font-weight: bold;
		color: white;
		padding: .8em 1.2em;
		
		&:hover {
			background-color: white;
			color: $primary;
			text-decoration: none;
		}
	}
	.mepr-active-nav-tab {
		a {
			background-color: $light;
			color: $primary;
		}
	}
}
#mepr-account-welcome-message {
	color: white;
}
.mepr-account-change-password {
	a {
		@extend .btn;
		@extend .btn-white;
	}
}
.mepr-transaction-invoice-wrapper {
	table {
		@extend .table;
		@extend .table-bordered;
		@extend .table-sm;
		background-color: white;
	}
}
.mp_invoice {
	font-size: $font-size-sm;
}
.mepr_tos {
	a {
		font-size: $font-size-sm;
		&:hover {
			text-decoration: none;
		}
	}
}
.mepr-form input.invalid, .mepr-form select.invalid, .mepr-form textarea.invalid, .mepr-form label.mepr-checkbox-field.invalid, .mepr-form div.mepr-checkboxes-field.invalid, .mepr-form div.mepr-radios-field.invalid {
	border: 1px solid #FF6666 !important;
	background-color: #fff !important;
}
.mp_wrapper .mepr-form-has-errors, .mp_wrapper .cc-error, .mp_wrapper .mepr-validation-error {
	color: #FF6666;
	font-size: $font-size-sm;
}
#mepr-stripe-payment-form{
	@extend .bg-white;
	
	input#mepr_strip_card_name {
		@extend .form-control;
	}
	.mepr-submit {
		@extend .btn;
		@extend .btn-primary;
	}
}
.mepr-stripe-card-element {
	@extend .form-control;
}
.bg-white {
	.mepr-form .mp-form-row input {
		border: 1px solid #ccc;
	}
}

/* Resources */
.resource-wrap {
	h2 {
		font-size: 33px;
		font-weight: normal;
		color: $body-color;
	}
}
.loop-resource-image {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 250px;
	
	.loop-resource-image-icon {
		z-index: 2;
	}
	.loop-resources-title {
		font-size: 18px;
	}
}
.bg-overlay {
    position: absolute;
    background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2));
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}